doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if (IE 7)&!(IEMobile)
  html.no-js.lt-ie9.lt-ie8(lang='en')
//if (IE 8)&!(IEMobile)
  html.no-js.lt-ie9(lang='en')
//if (IE 9)
  html.no-js.ie9(lang='en')
// [if gt IE 8] <!
html(lang='en-US')
  // <![endif]
  head
    // Meta Tags
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Shortcodes | Brushed | Responsive One Page Template
    meta(name='description', content='Insert Your Site Description')
    // Mobile Specifics
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='HandheldFriendly', content='true')
    meta(name='MobileOptimized', content='320')
    // Mobile Internet Explorer ClearType Technology
    //if IEMobile
      meta(http-equiv='cleartype', content='on')
    // Bootstrap
    link(href='_include/css/bootstrap.min.css', rel='stylesheet')
    // Main Style
    link(href='_include/css/main.css', rel='stylesheet')
    // Supersized
    link(href='_include/css/supersized.css', rel='stylesheet')
    link(href='_include/css/supersized.shutter.css', rel='stylesheet')
    // FancyBox
    link(href='_include/css/fancybox/jquery.fancybox.css', rel='stylesheet')
    // Font Icons
    link(href='_include/css/fonts.css', rel='stylesheet')
    // Shortcodes
    link(href='_include/css/shortcodes.css', rel='stylesheet')
    // Responsive
    link(href='_include/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='_include/css/responsive.css', rel='stylesheet')
    // Google Font
    link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900', rel='stylesheet', type='text/css')
    // Fav Icon
    link(rel='shortcut icon', href='#')
    link(rel='apple-touch-icon', href='#')
    link(rel='apple-touch-icon', sizes='114x114', href='#')
    link(rel='apple-touch-icon', sizes='72x72', href='#')
    link(rel='apple-touch-icon', sizes='144x144', href='#')
    // Modernizr
    script(src='_include/js/modernizr.js')
    // Analytics
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'Insert Your Code']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    // End Analytics
  body
    // This section is for Splash Screen
    section#jSplash
      #circle
    // End of Splash Screen
    // Homepage Slider
    #home-slider
      .overlay
      .slider-text
        #slidecaption
      .control-nav
        a#prevslide.load-item
          i.font-icon-arrow-simple-left
        a#nextslide.load-item
          i.font-icon-arrow-simple-right
        ul#slide-list
        a#nextsection(href='#shortcodes')
          i.font-icon-arrow-simple-down
    // End Homepage Slider
    // Header
    header
      .sticky-nav
        a#mobile-nav.menu-nav(href='#menu-nav')
        #logo
          a#goUp(href='#home-slider', title='Brushed | Responsive One Page Template') Brushed Template
        nav#menu
          ul#menu-nav
            li
              a.external(href='/#home-slider') Home
            li
              a.external(href='index.html#work') Our Work
            li
              a.external(href='index.html#about') About Us
            li
              a.external(href='index.html#contact') Contact
            li.current
              a(href='shortcodes.html') Shortcodes
    // End Header
    // Our Shortcodes Section
    #shortcodes.page
      .container
        form(action='<c:url value="/curator/qna/detail"/>')
          input#qna_board_no(type='hidden', name='qna_board_no', value='${curatorQna.qna_board_no}')
          // 타이틀
          .rightcon_title
            .rightcon_title_l
              | 나노 Q&A
              // <img src="<c:url value="/images/sub3∆/qna_tit.gif" />" alt="q&a" />
            .rightcon_title_r
              a(href='<c:url value=') ">홈
              |  >
              a(href='<c:url value=', curator='', info='') ">나노큐레이터
              |  >
              a(href='<c:url value=', curator='', info='') ">큐레이터
              |  >
              a(href='<c:url value=', curator='', newqna='')
                | ">
                span 나노큐레이터
          table.table-bordered.table
            colgroup
              col(width='150')
              col(width='*')
            tbody
              tr
                // <td class="photo" rowspan="5">
                td.notice_write_normal(colspan='1') 분야
                td(colspan='3') 여기에 # { 값 }
              tr
                td.notice_write_normal 작성자
                td 여기에 # { 값 }
                td.notice_write_normal 등록일
                td 여기에 # { 값 }
              tr
                td.notice_write_normal(colspan='1') 제목
                td(colspan='3') 여기에 # { 값 }
              tr(style='height: 250px;')
                td.notice_write_normal(colspan='1') 내용
                td(colspan='3') 여기에 # { 값 }
              c:if(test='${!empty qnaAnswerList}')
                c:choose
                  c:when(test='${userLevel == 0}')
                    table.notice_write(style='margin-top:25px;')
                      colgroup
                        col(width='150')
                        col(width='*')
                      tbody
                        tr
                          td.notice_write_normal(colspan='1') 답글작성자
                          td(colspan='4') 관리자
                          td.notice_write_normal(colspan='4') 등록일
                          td(colspan='4') 여기에 # { 값 }
                  c:otherwise
          // 관리자버튼
          c:if(test='${empty qnaAnswerList}')
            c:choose
              c:when(test='${userLevel == 0}')
                div
                  a(href='/curator/qna/adminInsert?qna_board_no=${curatorQna.qna_board_no}')
                    | 답글입력하기
              c:otherwise
          c:choose
            c:when(test='${userLevel == 0}')
              div
                a(href='/curator/qna/adminUpdate?qna_board_no=${curatorQna.qna_board_no}')
                  | 답글수정하기
            c:otherwise
        // End Social Icons
    // End Shortcodes Section
    // Footer
    footer
      p.credits
        | ©2013 Brushed.
        a(href='http://themes.alessioatzeni.com/html/brushed/', title='Brushed | Responsive One Page Template') Brushed Template
        |  by
        a(href='http://www.alessioatzeni.com/', title='Alessio Atzeni | Web Designer & Front-end Developer') Alessio Atzeni
    // End Footer
    // Back To Top
    a#back-to-top(href='#')
      i.font-icon-arrow-simple-up
    // End Back to Top
    // Js
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    // jQuery Core
    script(src='_include/js/bootstrap.min.js')
    // Bootstrap
    script(src='_include/js/supersized.3.2.7.min.js')
    // Slider
    script(src='_include/js/waypoints.js')
    // WayPoints
    script(src='_include/js/waypoints-sticky.js')
    // Waypoints for Header
    script(src='_include/js/jquery.isotope.js')
    // Isotope Filter
    script(src='_include/js/jquery.fancybox.pack.js')
    // Fancybox
    script(src='_include/js/jquery.fancybox-media.js')
    // Fancybox for Media
    script(src='_include/js/jquery.tweet.js')
    // Tweet
    script(src='_include/js/plugins.js')
    // Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi
    script(src='_include/js/main.js')
    // Default JS
    // End Js
